*{
	margin: 0;
	padding: 0;
}

html{
	height: 100%;
	width: 100%;
	margin:  0;
	padding: 0;
	background-color: white;
}



button.calcbuttons{
	padding: 2%;
	background-color: grey;
	font-size: 20pt;
}



#display{
	
	width: 50%; 
	height: 32px;
	background-color: white;
	color: black;
	border: 1px solid black;
	padding: 3%;
	padding-top: 6%;
	
}

#uitkomst{
	width: 50%; 
	height: 32px;
	background-color: white;
	color: black;
	border: 1px solid black;
	padding: 3%;
	
}